.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: left;
}
.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px; 
    margin: 120px 105px 111px;
}
.order-summery{
    background-color: antiquewhite;
}